.App {
  text-align: center;
  
}


.App-header {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f9feff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.backgroundImage {
  width: 100%;
  height: 100px;
}

body {
  color: black;
    text-decoration-color: white;  
    background-image: url("https://images.unsplash.com/photo-1582657118090-af35eefc4e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
  }

a {
  color: rgb(118, 255, 105);
  text-decoration-color: white;
}
h2 {
  text-decoration-color: white;
}
h3 {
  text-decoration-color: white;
}
h4 {
  text-decoration-color: white;
}
h5 {
  text-decoration-color: white;
}
textarea {
  width: 450px;
  height: 50px;
}
