.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f9feff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.backgroundImage {
  width: 5000%;
  height: 5000px;
}
body {
  color: black;
    text-decoration-color: white;  
  }

a {
  color: rgb(118, 255, 105);
  text-decoration-color: white;
}
h2 {
  text-decoration-color: white;
}
h3 {
  text-decoration-color: white;
}
h4 {
  text-decoration-color: white;
}
h5 {
  text-decoration-color: white;
}
