.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f9feff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.backgroundImage {
  width: 100px;
  height: 100px;
}
body {
  color: blue;
}

a {
  color: rgb(123, 255, 105);
}
h2.thicker {
  font-weight: bold;
}
h3.thicker {
  font-weight: bold;
}h4.thicker {
  font-weight: bold;
}
h5.thicker {
  font-weight: bold;
}
h3 {
  background-color: black;
  color: white;
}
